@charset "UTF-8";
/* CSS Document */

/* Colores propios*/
.blanco {
	color: white !important;
}


.b_azulClaro {
	background-color: #b0cff1;
}

.borde_azulClaro {
	border-color: #b0cff1 !important;
	border-width: 2px !important;
	background-color: white;
}

.azulClaro {
	color: #b0cff1 !important;
}

.b_verde {
	background-color: #008556 !important;
}

.borde_verde {
	border-color: #008556 !important;
	border-width: 2px !important;
	background-color: white;

}

.verde {
	color: #008556 !important;
}

.b_verdeClaro {
	background-color: #70d44b !important;
}

.borde_verdeClaro {
	border-color: #70d44b !important;
	border-width: 2px !important;
	background-color: white;

}

.verdeClaro {
	color: #70d44b !important;
}

.b_amarillo {
	background-color: #ffc260;
}

.amarillo {
	color: #ffc260 !important;
}

.borde_amarillo {
	border-color: #ffc260 !important;
	border-width: 2px !important;
	background-color: white;
}

.b_rosa {
	background-color: #ffb2c7;
}

.rosa {
	color: #ffb2c7 !important;
}

.borde_rosa {
	border-color: #ffb2c7 !important;
	border-width: 2px !important;
	background-color: white;
}

.b_lila {
	background-color: #a360c3;
}

.borde_lila {
	border-color: #a360c3 !important;
	border-width: 2px !important;
	background-color: white;
}

.lila {
	color: #a360c3 !important;
}

.b_azulOscuro {
	background-color: #0372d3;
}

.borde_azulOscuro {
	border-color: #0372d3 !important;
	border-width: 2px !important;
	background-color: white;
}

.azulOscuro {
	color: #0372d3 !important;
}

.borde_salmon {
	border-color: #f76868 !important;
	border-width: 2px !important;
	background-color: white;
}

.b_salmon {
	background-color: #f76868;
}

.salmon {
	color: #f76868 !important;
}

.b_gris {
	background-color: #DCDCDC;
}

.verdeClaro {
	color: #70d44B !important;
}

/*Efectos*/
.sombra {
	box-shadow: 10px 15px 10px -10px rgba(25, 25, 25, 0.5);
}

/* Fuentes */

body {
	font-family: Montserrat, sans-serif;
	font-size: 14px;
}

section {
	min-height: 80vh;
}

/*Menu*/
nav a:hover{
	text-decoration: none !important;
	color: #70d44b !important;
}

/*Migas de pan*/
.breadcrumb{
	background-color: transparent;
}

.breadcrumb a {
	color: white;
}

.breadcrumb .active {
	text-transform: uppercase; 
}



/* SECTION 2*/
/*Ancho de las tarjetas*/
.cardIndex {
	width: 70% !important;
	margin: auto !important;
}


/* FOOTER*/
.textofooter {
	color: white;
	font-size: 0.8em;
}

footer hr {
	background-color: white;
	height: 1px;
}

footer ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

footer a {
	color: white;
}

footer a:hover{
	color:white;
	text-decoration: none;
}

footer a:hover{
	color: #ffc260;
}


/*CREAR_INDEX*/
img[src*="saludos"] {
	max-height: 275px;
}


/*CREAR*/

.todoAlto{
	min-height: 60vh;
}

/*Sweet alert*/
.swal-text {
	text-align: center !important;
	margin: 0 20px !important;
}

.swal-footer{
	text-align: center;
}

.swal-button {
	background-color:#70d44b;
}

.swal-button:hover {
	background-color:#008556 !important;
}

.firma {
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	color: #008556;
	margin-bottom: 0;
}


.mostrarEmbarazo::before {
	content: url('../img/elmundode/calendario.svg') !important;
	display:inline-block;
	position: absolute;
    width: 75px;
    height:75px;
	left: -75px;
	top: -10px;
}

.mostrarAumentoPeso::before{
	content: url('../img/elmundode/peso.svg') !important;
	display:inline-block;
	position: absolute;
    width: 75px;
    height:75px;
	left: -75px;
	top: -15px;
}

.mostrarFechaNoticia::before{
	content: url('../img/elmundode/noticias.svg') !important;
	display:inline-block;
	position: absolute;
    width: 75px;
    height:75px;
	left: -75px;
	top: -10px;
}
